#about{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    align-items: center;
}
.right-about{
    margin-left: 30px;
    max-width: 700px;
}
.left-about span{
    width: 8px;
    height: 250px;
    display: inline-block;
    background-color: rgb(179, 60, 212);
    margin-left: 450px;
}
.right-about h2{
    margin-bottom: 12px;
    font-size: 40px;
}
.right-about h4{
    font-size: 20px;
    margin-bottom: 12px;
}
.right-about p{
    line-height: 24px;
    color: #777;
}