#skills{
    padding: 50px 0 50px;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin: auto;
    z-index: 2;
}
.skills-columns{
    text-align: center;
    border: none;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.35);
    padding: 28px 35px 28px 35px;
    border-radius: 6px;
}
.skills-columns:hover{
    background-color: rgb(117, 35, 193);
    color: white;
}
.skills-columns img{
    width: 200px;
    margin-bottom: 15px;
}
.skills-columns h4{
    font-size: 16px;
    font-family: sans-serif;
}
.skill-text{
    text-align: center;
    margin-bottom: 80px;
    line-height: 50px;
}
.skill-text h1{
    font-size: 45px;
}
.skill-text p{
    color: #777;
}
#project{
    padding: 50px 20px 50px 20px ;
}
.list-project{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.project1{
    flex-basis: 40%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.project2{
    flex-basis: 40%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}
.project1 img{
    width: 100%;
    border-radius: 8px;
}
.project2 img{
    width: 100%;
    border-radius: 8px;
}
.project-text{
    text-align: center;
    margin-bottom: 80px;
    line-height: 50px;
}
.project-text h1{
    font-size: 45px
}
.project-text p{
    color: #777;
}
.project-text button{
    padding: 12px;
    background-color: transparent;
    border: 2px solid rgb(117, 35, 193);
    font-weight: bold;
    margin-top: 12px;
    border-radius: 4px;
}
/**   contact  **/
#contact{
    padding: 50px 120px;
    color: whitesmoke;
    background-color: black;
}
.contact-heading{
    text-align: center;
    margin-bottom: 50px;
}
.contact-heading h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.contact-heading p{
    color: #777;
    font-size: 19px;
}
.second-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 18px;
}
.social-contact{
    text-align: center;
    line-height: 40px;
}
.left-side{
    line-height: 26px;
}
.social i{
    font-size: 35px;
    margin-right: 13px;
    color: whitesmoke;
}
.social a{
    text-decoration: none;
    color: black;
}