@media screen and (max-width: 768px) {
    #back{
        background-image: none;
        height: 600px;
    }
    .middle-part{
        gap: 3.5em;
    }
    #navbar{
        padding: 20px;
    }
    .left-page1{
        margin-left: 20px;
        text-align: left;
        margin-top: 40px;
    }
    .left-about span{
        margin-left: 10px;
    }
    .right-about{
        max-width: 500px;
        flex-basis: 80%;
    }
    #about{
        padding: 30px 0;
    }
    .skills-columns{
        flex-basis: 40%;
        padding: 25px 15px 25px 15px;

    }
    .skills-columns img{
        width: 100px;
    }
    .project1{
        flex-basis: 100%;
    }
    .project2{
        flex-basis: 100%;
    }
    .list-project{
        gap: 3em;
    }
    .second-line{
        display: block;
    }
    .left-side{
        margin-bottom: 30px;
    }
    .left-page1 h2{
        font-size: 30px;
    }
    #contact{
        padding: 20px;
    }
    .skill-text{
        line-height: 25px;
    }
    .skill-text h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .project-text{
        line-height: 25px;
    }
    .project-text h1{
        margin-bottom: 30px;
        font-size: 40px;
    }
    #navbar button{
        display: none;
    }
    .logo{
        display: none;
    }
}
